// All Colors
$colorPrimary: #0073F1;
$colorSecondary: #00193E;
$colorBlack: #171717;
$colorWhite: #ffffff;
$colorGrayText: rgba($colorWhite, 0.6);
// $colorGrayText: #647286;

$headerBg: $colorPrimary;
$mobileNavBg: $colorBlack;
$footerBg: #01122D;


// Gradients and shadows
$gradient: linear-gradient(180deg, rgba($colorBlack, 0) 0%, $colorBlack 100%);
$shadow: 0 4px 15px 5px rgba(60, 100, 177, 0.05);

// Border radius
$radiusSm: 15px;
$radiusMd: 25px;
$radiusLg: 35px;
$radiusButton: 54px;

// Transition and hover colors
$transition: 0.3s;
$hoverLink: darken($colorWhite, 20%);
$hoverButton: darken($colorSecondary, 20%);

/* Typography
=================*/
// Fonts
$fontPrimary: 'Faktum';
$fontSecondary: 'Faktum-Wide';

// Font Sizes
$fontSizeBase: 16px;

// Line heights
$lineHeightLg: 1.3;
$lineHeightMd: 1.2;
$lineHeightSm: 1;

// Letter spacing
$letterSpacingXxl: 2.1px;
$letterSpacingLg: 1.5px;
$letterSpacingMd: 1.2px;
$letterSpacingSm: 0.6px;

// Font Weights
$weightBold: 700;
$weightMedium: 500;
$weightRegular: 400;

// Responsive
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Media query
@mixin sm {
  @media (min-width:$sm) {
    @content
  }
};
@mixin md {
  @media (min-width:$md) {
    @content
  }
};
@mixin lg {
  @media (min-width:$lg) {
    @content
  }
};
@mixin xl {
  @media (min-width:$xl) {
    @content
  }
};
@mixin xxl {
  @media (min-width:$xxl) {
    @content
  }
};
