button,
.btn {
	cursor: pointer;
}
.btn {
	display: inline-block;
	min-width: 140px;
	padding: 14px 20px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	color: $colorWhite;
	font-weight: $weightBold;
	background-color: $colorSecondary;
	border: none;
	border-radius: $radiusButton;
	text-transform: uppercase;
	transition: $transition;
	&:hover {
		background-color: lighten($colorSecondary, 30%);
	}
}
.btn-md {
	@extend .btn;
	min-width: 200px;
	font-size: 20px;
}
.btn-lg {
	@extend .btn-md;
	line-height: 2;
	min-width: 300px;
	@media (max-width: 375px) {
		min-width: auto;
	}
}
.large-link {
	display: inline-block;
	margin-top: 50px;
	font-size: 36px;
	line-height: $lineHeightSm;
	text-transform: uppercase;
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background-color: $colorWhite;
	}
}
.btn-arrow {
	margin-bottom: 45px;
	position: relative;
	font-size: 18px;
	color: $colorBlack;
	font-weight: $weightBold;
	text-transform: uppercase;
	background-color: transparent;
	border: none;
	svg {
		width: 20px;
		height: 17px;
		position: absolute;
		bottom: -20px;
		left: 50%;
		transform: translateX(-50%);
		transition: $transition;
	}
	&.activeBtn {
		svg {
			transform: translateX(-50%) rotateX(180deg);
		}
	}
}
.white-bg {
	background-color: $colorWhite;
	color: $colorSecondary;
	.btn {
		background-color: $colorPrimary;
		&:hover {
			background-color: darken($colorPrimary, 20%);
		}
	}
}
.dark-bg {
	background-color: $colorBlack;
	color: $colorWhite;
	.btn {
		background-color: $colorPrimary;
		&:hover {
			background-color: darken($colorPrimary, 20%);
		}
	}
}
