.categories {
	.container {
		max-width: 1270px;
	}
	&-item {
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-height: 280px;
		padding: 20px;
		border-radius: $radiusSm;
		@include lg {
			max-width: 400px;
			padding: 20px 30px;
			margin: 5px;
		}
		ul {
			font-size: 14px;
			opacity: 0.7;
			font-family: $fontSecondary;
			  li {
					line-height: 1.5;
			  }
		}
	}
	&-content {
		& > *:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	&-image {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
}
