.card {
   &-item {
       padding-left: 15px;
       padding-right: 15px;
       margin-bottom: 45px;
   }
   &-content {
      display: flex;
      flex-direction: column;
      min-height: 410px;
      justify-content: space-around;
      padding: 30px 50px;
      line-height: $lineHeightLg;
      border-radius: $radiusSm;
   }
   .large-link {
      margin-top: 0;
   }
}