.hero {
	padding-top: 20px;
	position: relative;
	overflow: hidden;
	@include md {
		padding-top: 40px;
	}
	@include lg {
		padding-top: 100px;
		padding-bottom: 135px;
	}
	&-content {
		@include lg {
			text-align: left;
			position: static;
		}
	}
	&-text {
		font-size: 18px;
		line-height: 1.5;
		font-family: $fontSecondary;
		order: 2;
		@include lg {
			order: 1;
			margin-bottom: 35px;
		}
	}
	&-content,
	&-subtitle,
	&-title,
	&-text,
	.btn-lg {
		@include lg {
			position: relative;
			z-index: 1;
		}
	}
	&-text {

	}
	.btn-lg {
		order: 1;
		margin-bottom: 35px;
		@include lg {
			order: 2;
			margin-left: 0;
			margin-bottom: 0;
		}
	}
	&-image {
		@include lg {
			position: absolute;
			right: 0;
			top: 0;
			transform: translate(80%, -10%);
		}
		img {
			width: 100%;
		}
	}
	&.hero-main {
		overflow: visible;
		.hero-image {
			@include lg {
				width: 1200px;
				transform: translate(65%, -15%);
			}
		}
	}
	+ .location {
		position: relative;
		z-index: 2;
	}
	&.hero-blog {
		padding-top: 20px;
		padding-bottom: 0;
		.blog-inner {
			border-radius: $radiusLg;
			overflow: hidden;
			position: relative;
		}
		.blog-image {
			width: 100%;
			img {
				width: 100%;
			}
		}
		.blog-content {
			padding: 80px;
			& > *:not(:last-child) {
				margin-bottom: 80px;
			}
		}
		.blog-data {
			font-size: 20px;
			letter-spacing: $letterSpacingMd;
			color: $colorWhite;
		}
	}
	&.hero-about-us {
		padding-bottom: 0;
		@include lg {
			padding-bottom: 85px;
		}
		.hero-title {
			margin-bottom: 30px;
		}
		.hero-text {
			margin-bottom: 0;
			line-height: $lineHeightLg;
		}
	}
}
