.hero {
	padding-top: 40px;
	position: relative;
	overflow: hidden;
	@include lg {
		padding-top: 100px;
		padding-bottom: 135px;
	}
	&-content {
		@include lg {
			text-align: left;
			position: static;
		}
	}
	&-subtitle {
		letter-spacing: 1.8px;
	}
	&-text {
		margin-bottom: 35px;
		font-size: 18px;
		line-height: 1.5;
		letter-spacing: $letterSpacingMd;
	}
	&-content,
	&-subtitle,
	&-title,
	&-text {
		@include lg {
			position: relative;
			z-index: 1;
		}
	}
	&-image {
		@include lg {
			position: absolute;
			right: 0;
			top: 0;
			transform: translate(80%, -10%);
		}
		img {
			width: 100%;
		}
	}
	&.hero-main {
		overflow: visible;
		.hero-image {
			@include lg {
				width: 1200px;
				transform: translate(65%, -15%);
			}
		}
	}
	 + .location {
		 padding-top: 0;
		position: relative;
		z-index: 2;
	}
	&.hero-blog {
		padding-top: 20px;
		padding-bottom: 0;
		.blog-inner {
			border-radius: $radiusLg;
			overflow: hidden;
			position: relative;
		}
		.blog-image {
			width: 100%;
			img {
				width: 100%;
			}
		}
		.blog-content {
			padding: 80px;
			& > *:not(:last-child) {
				margin-bottom: 80px;
			}
		}
		.blog-data {
			font-size: 20px;
			letter-spacing: $letterSpacingMd;
			font-family: $fontSecondary;
			color: $colorWhite;
		}
	}
}
