.swiper-categories {
	padding-top: 20px !important;
	.swiper-wrapper {
		@include lg {
			transform: none !important;
			display: flex;
			flex-wrap: wrap;
         justify-content: center;
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		top: -10px;
		background: #000;
		width: 33px;
		height: 33px;
		border-radius: 50px;
		&::after {
			font-size: 18px;
		}
		@include lg {
			display: none;
		}
	}
	.swiper-button-prev {
		left: auto;
		right: 45px;
	}
	.swiper-button-next {
		right: 0;
	}
}
.swiper-container {
	overflow: visible !important;
}
